
@{
    ViewBag.Title = "メンテナンス";
}

<div class="jumbotron">
    <h1>メンテナンスのページ</h1>
    <p class="lead">本画面で役割/メンバー/機種/ハードウェアの管理を行います</p>
    <p><a href="~/Rolls" class="btn btn-primary btn-lg">役割管理 &raquo;</a></p>
    <p><a href="~/Members" class="btn btn-primary btn-lg">メンバー管理 &raquo;</a></p>
    <p><a href="~/Machines" class="btn btn-primary btn-lg">機種管理 &raquo;</a></p>
    <p><a href="~/MaintenanceHardware" class="btn btn-primary btn-lg">ハードウェア管理 &raquo;</a></p>
</div>