
@{
    ViewBag.Title = "メンテナンス";
}

<div class="jumbotron">
    <h1>メンテナンスのページ</h1>
    <p class="lead">本画面で役割/メンバー/機種/ユーザー/工場/Workstationの管理を行います</p>
    <p><a href="Rolls" class="btn btn-primary btn-lg">役割管理 &raquo;</a></p>
    <p><a href="Members" class="btn btn-primary btn-lg">メンバー管理 &raquo;</a></p>
    <p><a href="Machines" class="btn btn-primary btn-lg">機種管理 &raquo;</a></p>
    <p><a href="Users" class="btn btn-primary btn-lg">ユーザー/工場/Workstation管理 &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">ライセンス発行 &raquo;</a></p>
</div>