@{
    ViewBag.Title = "ハードウェアメンテナンス";
}

<div class="jumbotron">
    <h1>ハードウェアメンテナンスのページ</h1>
    <p class="lead">ユーザー/工場/Workstationの管理を行います</p>
    <p><a href="~/Users" class="btn btn-primary btn-lg">ユーザー管理 &raquo;</a></p>
    <p><a href="~/Fabs" class="btn btn-primary btn-lg">工場管理 &raquo;</a></p>
    <p><a href="~/Workstations" class="btn btn-primary btn-lg">Workstation管理 &raquo;</a></p>
</div>
