@{
    ViewBag.Title = "ライセンス";
}

<div class="jumbotron">
    <h1>ライセンスのページ</h1>
    <p class="lead">本画面でライセンスの管理を行います</p>
    <p><a href="SOrders" class="btn btn-primary btn-lg">ライセンス登録 &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">ライセンス発行 &raquo;</a></p>
</div>